.allnotes{
padding: 20px;
margin: 15px;
border-radius: 15px;
}
.datenote{
  display: none;
}

.addnote{
display: grid;
width: 66%;
margin: auto;

}


.titleaddnote{

}
.intitleaddnote{
  border-radius: 20px;
  height: 50px;
  font-size: 25px;
}

.innoteaddnote{
  border-radius: 20px;
padding: 1px;
  font-size: 17px;
}
.inlinkaddnote{
  border-radius: 20px;
  height: 50px;
  font-size: 17px;
  margin-bottom: 10px;
}
